/*universal section*/
body{
  font-family: Helvetica, sans-serif;
  margin: auto;
}

a {
  text-decoration: none;
}

ul{
  list-style-type: none;
}

/*navigation section*/
header{
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  height: 64px;
}

header .navigation{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header .tabs{
  display: flex;
  align-items: center;
}

.desktop ul{
  display: flex;
  justify-content: space-between;
}

.desktop ul li{
  padding: 14px;
}

header .mobile{
  display: none;
}


/*navigation mobile*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .mobile ul {

  }
}

/*banner section*/
.banner{
  display: flex;
  align-items: center;
  background: #DCDCDC;
  padding-top: 64px;
}

.banner img{
  width: 60%;
  height: 100%;
  padding: 32px 24px;
}

.slogan{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slogan h1{
  font-size: 60px;
  color: #514C4C;
  margin: 0;
}

.slogan h3{
  color: #514C4C;
  margin: auto;
}

.button{
  display: flex;
}

.button p{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #514C4C;
  color: white;
  width: 100%;
  height: 40px;
  padding: 8px;
  text-transform: capitalize;
}

/*practice section*/
.practice{
  display: flex;
}

.practice img{

}

.caption{
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 32px 24px;
}

.practice .column{
  width: 40%;
}

.story{
  display: inline-flex;
  align-items: center;
  padding: 16px;
}

.story img{
  width: 35%;
  padding: 16px;
}

.info{
  display: flex;
  flex-direction: column;
  width: 65%;
}

/*learning section*/
.learn{
  background: #DCDCDC;
  padding: 32px 72px;
}

.avaliable{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 32px 72px;
}

.course{
  background-color: white;
}

.course img{
  height: auto;
}

.course-info{

}

/*thesis section*/
.thesis{
  display: flex;
}

.title{
  display: inline-flex;
}

.container{
  display: flex;
  flex-direction: column;
}

.film video{

}


.description{

}

.thesis .column{
  width: 40%;
}

/*footer section*/
footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright{
  display: inline-flex;
}

.terms ul{
  display: flex;
  justify-content: space-around;
}
